# Variable names

In [2]:
# variables can't start with a number, special symbols
# 2nd_number = 10
# &number = 2

SyntaxError: invalid syntax (2177017340.py, line 3)

In [1]:
name_0 = "Simas"
len(name_0)

5

In [6]:
# variable names can't be functions, reserved names
# len = 10
# len(name_0)

TypeError: 'int' object is not callable

In [3]:
# all-caps variables are constant and should not be changed later
MY_CONSTANT = 5
print(MY_CONSTANT)

5

In [4]:
len('ilgis')

5

In [8]:
name = 'Simas'
name.upper()
name.lower()
print(name.upper())

SIMAS

In [10]:
text = 'today is a beautiful day'
text.replace('beautiful', 'sunny')

'today is a sunny day'

In [25]:
print(text.find('ful'))
print(text[text.find('ful'): text.find('ful') + len('ful')])

17
ful

In [24]:
text = 'today is a beautiful day'
word_to_find = 'iful'
print(text[text.find(word_to_find): text.find(word_to_find) + len(word_to_find)])

iful

# UÅ¾duotys

In [27]:
name = 'Vardas'
lastname = "Pavarde"
print (name + ' ' + lastname)

Simas Juodikaitis

In [30]:
string_01 = 'Python makes me really happy!'
print(string_01.upper())
print(string_01.replace('Python', 'PyThOn'))

PYTHON MAKES ME REALLY HAPPY!
PyThOn makes me really happy!

In [53]:
uzd_3 = 'Hello World, I am happy to learn Python!'
print(uzd_3[18:23])
print(uzd_3.index('happy'))
print(len(uzd_3[18:23]))
# uzd_3.find('to')
print(uzd_3[24:26])
print(len(uzd_3))

happy
18
5
to
40

# ----

In [58]:
print('word'.isdigit()) # false
print('w0rd'.isdigit()) # false
print('00'.isdigit()) # true -- .strip() removes spaces
print('00 '.strip().isdigit()) # true

False
False
True
True

# f-string

In [68]:
name = 'Vardas'
lastname = 'Pavarde'
weather = 'rainy'
degrees = 24

print('Hi, Vardas, it is nice to meet you. It is a rainy day')
print('Hi, ' + name + ', it is nice to meet you. It is a ' + weather + ' day')

# f-string
print(f'Hi, {name}, it is nice to meet you. It is a {weather} day. It is {degrees} degrees outside')
# old f-string
print('Hi, {}, it is nice to meet you. It is a {} day'.format(name, weather))

Hi, Vardas, it is nice to meet you. It is a rainy day
Hi, Vardas, it is nice to meet you. It is a rainy day
Hi, Vardas, it is nice to meet you. It is a rainy day. It is 24 degrees outside
Hi, Vardas, it is nice to meet you. It is a rainy day

In [70]:
print(name, lastname, sep='_')

Vardas_Pavarde

# string operations

In [72]:
'hello ' + 'world'
# substraction is not avaliable
# 'hello ' - 'i'

'hello world'

In [76]:
'hi ' * 10
# division doesnt work
# 'hi ' / 10

'hi hi hi hi hi hi hi hi hi hi '

In [79]:
print(type(name))

<class 'str'>

# numbers

In [83]:
number = 153
float_number = 153.
float_number_2 = 153.42

print(type(number))
print(type(float_number))

<class 'int'>
<class 'float'>

## operations

In [90]:
suma = number + float_number
print(f'{suma} yra {type(suma)}')

print(f'10 - 5 = {10 - 5}')
print(f'10 * 5 = {10 * 5}')
print(f'10 / 5 = {10 / 5}')
print(f'13 // 5 = {13 // 5}') # pilnoji dalis
print(f'18 // 5 = {18 // 5}') # pilnoji dalis
print(f'18 % 5 = {18 % 5}') # liekana
print(f'2 ** 5 = {2 ** 5}') # kelimas laipsniu

306.0 yra <class 'float'>
10 - 5 = 5
10 * 5 = 50
10 / 5 = 2.0
13 // 5 = 2
18 // 5 = 3
18 % 5 = 3
2 ** 5 = 32

In [97]:
c = 0
c = c + 1
c += 1
print(c)
c -= 1
print(c)
c *= 3
print(c)
c /= 3
print(c)

2
1
3
1.0

In [100]:
big_number = 1_000_000
big_number_2 = 1000000
print(big_number)
print(big_number_2)
big_number == big_number_2

1000000
1000000

True

## uzduotys

In [101]:
pirmas = 40
antras = 7
suma = pirmas + antras
skirtumas = pirmas - antras
sandauga = pirmas * antras
liekana = pirmas % antras
dalyba = pirmas / antras

print(suma, skirtumas, sandauga, liekana, dalyba)

47 33 280 5 5.714285714285714

In [102]:
pirmas_fl = 3.5
antras_fl = 6.841
suma_fl = pirmas_fl + antras_fl
skirtumas_fl = pirmas_fl - antras_fl
sandauga_fl = pirmas_fl * antras_fl
liekana_fl = pirmas_fl % antras_fl
dalyba_fl = pirmas_fl / antras_fl

print(suma_fl, skirtumas_fl, sandauga_fl, liekana_fl, dalyba_fl)

10.341000000000001 -3.341 23.9435 3.5 0.5116211080251425

In [115]:
saule = 150_000_000
menulis = 384_000
atstumas = saule / menulis
print(atstumas)

greitis = 150
valandos = menulis / greitis
print(valandos)

metai = valandos / 365
print(metai)

menesiai = metai * 12
print(menesiai)

sekundes = valandos * 3600
print(sekundes)

390.625
2560.0
7.013698630136986
84.16438356164383
9216000.0

In [116]:
365 * 27

9855

In [122]:
from datetime import datetime, date, time
birthday = datetime(1996,5,18)
print(birthday)
now = datetime.now()
print(now)
time_passed = now - birthday
print(time_passed)
print(time_passed.days)

1996-05-18 00:00:00
2023-09-28 21:08:23.725670
9994 days, 21:08:23.725670
9994

## ----

# boolean (bool)

In [124]:
bool_1 = True
print(bool_1)
print(type(bool_1))

True
<class 'bool'>

In [ ]:
bool_2 = False

In [129]:
number = 1
print(bool(number))
print(bool(100))
print(bool(0.1))
print(bool(-2))
print(bool(0)) # vienintelis False

True
True
True
True
False

In [134]:
print(bool('number'))
print(bool(' '))
print(bool('0'))
print(bool('')) # vienintelis false

True
True
True
False

In [138]:
print( 2 > 5)
print( 2 < 5)
print( 5 > 5)
print( 5 >= 5)
print( 5 == 5)
print( 5 != 5)
print( 2 != 5)

False
True
False
True
True
False
True

In [140]:
text = 'Hello World'
print('w' in text)
print('World' in text)

False
True

In [142]:
print(True == bool(0.9))
print(False == 0)

True
True

In [143]:
print(not True)

False

In [148]:
print('and')
print(20 > 10 and 5 > 1)
print(20 > 10 and 5 > 10)
print(20 > 10 or 5 > 10)

and
True
False
True

## uzduotys

In [152]:
print(bool(5))
print(bool(74.555))
print(bool('x'))

True
True
True