# tuple

In [3]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print(my_tuple)
print(type(my_tuple))
print(len(my_tuple))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>
10

In [5]:
my_tuple = my_tuple + (5, 5, 4)
print(my_tuple)
# my_tuple[-1] = 100 # does not work

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 5, 5, 4, 5, 5, 4)

TypeError: 'tuple' object does not support item assignment

In [11]:
print(my_tuple[4])
print(my_tuple[2:7])

5
(3, 4, 5, 6, 7)

In [14]:
print(my_tuple.count(5))
print(my_tuple.index(5))

5
4

In [24]:
my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
print(my_tuple[3][1][1])

8

In [29]:
tuple1 = (11, [222, 33], 44, 55)
list1 = list(tuple1)
list1[1][1] = 22
tuple1 = tuple(list1)
print(tuple1)

(11, [222, 22], 44, 55)

In [40]:
tuple1 = (11, [222, 33], 44, 55)
tuple1[1][1] = 22
print(tuple1)

(11, [222, 22], 44, 55)

In [49]:
tuple_1 = (1, 4, 6, 8, 9)
tuple_2 = (3, 5, 7)
tuple_3 = tuple_1 + tuple_2
list_3 = list(tuple_3)
list_3.remove(list_3[-1])
list_3 = sorted(list_3)
tuple_3 = tuple(list_3)
print(tuple_3)
print(tuple_3.count(3))
print(max(tuple_3))

(1, 3, 4, 5, 6, 8, 9)
1
9

# none a.k.a. null, nill

In [51]:
niekas = None
print(niekas)
print(type(niekas))

None
<class 'NoneType'>

In [53]:
my_list = [1, 2, 3, 45, 643, 4]
print(my_list.sort()) # returns None
print(my_list)

None
[1, 2, 3, 4, 45, 643]

In [58]:
vardas = None

# ilgas kodas
if True:
    vardas = input('Iveskite varda: ')
print(vardas)

## list comprehension

In [60]:
numbers = list(range(1, 21))
print(numbers)
# takae numbers divisible by 3
divisible_by_3 = []
for number in numbers:
    if number % 3 == 0:
        divisible_by_3.append(number)
print(divisible_by_3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[3, 6, 9, 12, 15, 18]

In [65]:
divisible_by_3 = [number for number in numbers if number % 3 == 0]
print(divisible_by_3)

divisible_by_3_squared = [number**2 for number in numbers if number % 3 == 0]
print(divisible_by_3_squared)

numbers_multiplied = [number*2 for number in numbers]
print(numbers_multiplied)

[3, 6, 9, 12, 15, 18]
[9, 36, 81, 144, 225, 324]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [67]:
divisible_by_3 = [number if number % 3 == 0 else f'{number} nesidalina is 3' for number in range(1, 21)]
print(divisible_by_3)

['1 nesidalina is 3', '2 nesidalina is 3', 3, '4 nesidalina is 3', '5 nesidalina is 3', 6, '7 nesidalina is 3', '8 nesidalina is 3', 9, '10 nesidalina is 3', '11 nesidalina is 3', 12, '13 nesidalina is 3', '14 nesidalina is 3', 15, '16 nesidalina is 3', '17 nesidalina is 3', 18, '19 nesidalina is 3', '20 nesidalina is 3']

# dictionary

In [69]:
me = {
    # key: value
    'name': 'Tomas',
    'age': 25,
    'city': 'Vilnius'
}
print(me)

print(me['age'])

{'name': 'Tomas', 'age': 25, 'city': 'Vilnius'}
25

In [70]:
me['hobbies'] = ['coding', 'reading', 'gaming']
print(me)

{'name': 'Tomas', 'age': 25, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}

In [71]:
me['age'] = 27
print(me)

{'name': 'Tomas', 'age': 27, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}

In [78]:
someone = {
    True: 'tiesa',
    False: 'melas',
    None: 'niekas',
    2: 'du'
}
print(someone)
print(someone[True])
print(someone[False])
print(someone[None])
print(someone[2])

{True: 'tiesa', False: 'melas', None: 'niekas', 2: 'du'}
tiesa
melas
niekas
du

In [ ]:
zmones = [
    {'vardas': 'Jonas', 'amzius': 35},
    {'vardas': 'Petras', 'amzius': 50}
]
for ...

In [80]:
print(me)
print(len(me))

{'name': 'Tomas', 'age': 27, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}
4

In [81]:
# me.clear() # removes all dict data
del me['hobbies']
print(me)

{'name': 'Tomas', 'age': 27, 'city': 'Vilnius'}

In [87]:
me = {
    # key: value
    'name': 'Tomas',
    'age': 25,
    'city': 'Vilnius',
    'hobbies': ['coding', 'reading', 'gaming']
}
print(me)
print(me.popitem())

{'name': 'Tomas', 'age': 25, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}
('hobbies', ['coding', 'reading', 'gaming'])

In [91]:
me = {
    # key: value
    'name': 'Tomas',
    'age': 25,
    'city': 'Vilnius',
    'hobbies': ['coding', 'reading', 'gaming']
}
print(me)
print(me.get('neegzistuojantis_raktas'))
print(me.get('neegzistuojantis_raktas', 'nerastas'))
print(me.get('name'))

{'name': 'Tomas', 'age': 25, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}
None
nerastas
Tomas

In [94]:
me = {
    # key: value
    'name': 'Tomas',
    'age': 25,
    'city': 'Vilnius',
    'hobbies': ['coding', 'reading', 'gaming']
}
# me['age'] = 29
print(me)
me.update({'age': 28, 'city': 'Siauliai'})
print(me)

{'name': 'Tomas', 'age': 25, 'city': 'Vilnius', 'hobbies': ['coding', 'reading', 'gaming']}
{'name': 'Tomas', 'age': 28, 'city': 'Siauliai', 'hobbies': ['coding', 'reading', 'gaming']}

In [98]:
for key in me:
    print(key)
# same
for key in me.keys():
    print(f'key is {key} and value is {me[key]}')

name
age
city
hobbies
key is name and value is Tomas
key is age and value is 28
key is city and value is Siauliai
key is hobbies and value is ['coding', 'reading', 'gaming']

In [100]:
for value in me.values():
    print(value)

Tomas
28
Siauliai
['coding', 'reading', 'gaming']

In [103]:
for key, value in me.items():
    print(f'key is {key} and value is {value}')

key is name and value is Tomas
key is age and value is 28
key is city and value is Siauliai
key is hobbies and value is ['coding', 'reading', 'gaming']

In [105]:
twitter_post = {
  "created_at": "Tue Feb 27 21:11:40 +0000 2018",
  "id": 968594506663669800,
  "id_str": "968594506663669760",
  "text": "RT @honeydrop_506: 180222 ICN #백현 #BAEKHYUNnn나의 겨울과 너nn#iHeartAwards #BestFanArmy #EXOL @weareoneEXO https://t.co/hg7I3xAlBg",
  "truncated": False,
  "in_reply_to_status_id": None,
  "in_reply_to_status_id_str": None,
  "in_reply_to_user_id": None,
  "in_reply_to_user_id_str": None,
  "in_reply_to_screen_name": None,
  "user": {
    "id": 4448809940,
    "id_str": "4448809940",
    "name": "ayah",
    "screen_name": "lovbyun",
    "location": "bbh iu jjh pcy kjd dks",
    "url": "https://curiouscat.me/baekhyun-l",
    "description": "hi hello I love exo",
    "translator_type": "none",
    "protected": False,
    "verified": False,
    "followers_count": 1142,
    "friends_count": 125,
    "listed_count": 20,
    "favourites_count": 5712,
    "statuses_count": 4011,
    "created_at": "Fri Dec 04 03:44:59 +0000 2015",
    "utc_offset": -28800,
    "time_zone": "Pacific Time (US & Canada)",
    "geo_enabled": False,
    "lang": "en",
    "contributors_enabled": False,
    "is_translator": False,
    "profile_background_color": "000000",
    "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_tile": False,
    "profile_link_color": "F58EA8",
    "profile_sidebar_border_color": "000000",
    "profile_sidebar_fill_color": "000000",
    "profile_text_color": "000000",
    "profile_use_background_image": False,
    "profile_image_url": "http://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_image_url_https": "https://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_banner_url": "https://pbs.twimg.com/profile_banners/4448809940/1519340670",
    "default_profile": False,
    "default_profile_image": False,
    "following": None,
    "follow_request_sent": None,
    "notifications": None
  },
}
print(twitter_post["user"]["friends_count"])

125

In [119]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(car.get("brand"))
print(len(car))
car["year"] = 2022
print(car)

Ford
3
{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

In [113]:
car["color"] = "red"
car["used"] = True
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': '2022', 'color': 'red', 'used': True}

In [118]:
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
car["color"] = "red"
car["used"] = True

del car["brand"]
print(car)

car["year"] = None
print(car)

{'model': 'Mustang', 'year': 1964}
{'model': 'Mustang', 'year': None, 'color': 'red', 'used': True}