# lists tesinys

## mutable and immutable variables

In [3]:
a = 1
b = a
print('before')
print(id(a))
print(id(b))
b += 5
print('after')
print(id(a))
print(id(b))

before
2363070480624
2363070480624
after
2363070480624
2363070480784

In [5]:
a = [1, 2, 3]
b = a
print('before')
print(id(a))
print(id(b))
b.append(5)
print('after')
print(id(a))
print(id(b))

before
2363168266112
2363168266112
after
2363168266112
2363168266112

In [9]:
# fix #1
a = [1, 2, 3]
b = a.copy()
print('before')
print(id(a))
print(id(b))
b.append(5)
print('after')
print('a', a)
print('b', b)
print(id(a))
print(id(b))

before
2363168262144
2363167905152
after
a [1, 2, 3]
b [1, 2, 3, 'd']
2363168262144
2363167905152

In [10]:
# where fix #1 does not work
a = [1, 2, ['a', 'b', 'c']]
b = a.copy()
print('before')
print(id(a))
print(id(b))
b[-1].append('d')
print('after')
print('a', a)
print('b', b)
print(id(a))
print(id(b))

before
2363168267264
2363168266112
after
a [1, 2, ['a', 'b', 'c', 'd']]
b [1, 2, ['a', 'b', 'c', 'd']]
2363168267264
2363168266112

In [11]:
# fix #2
import copy
a = [1, 2, ['a', 'b', 'c']]
b = copy.deepcopy(a)
print('before')
print(id(a))
print(id(b))
b[-1].append('d')
print('after')
print('a', a)
print('b', b)
print(id(a))
print(id(b))

before
2363168027776
2363168021120
after
a [1, 2, ['a', 'b', 'c']]
b [1, 2, ['a', 'b', 'c', 'd']]
2363168027776
2363168021120

# range

In [21]:
print(range(10))
print(type(range(10)))
print(list(range(10)))
print(list(range(1, 10)))
print(list(range(1, 10, 2)))
print(list(range(10, 200, 20)))

range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 30, 50, 70, 90, 110, 130, 150, 170, 190]

# for loop

In [33]:
cities = ['Vilnius', 'Klaipeda', 'Siauliai']

#for <any name> in <list/seq>:
for city in cities:
    print(f'Dabar miestas yra {city}')
print('End')

Dabar miestas yra Vilnius
Dabar miestas yra Klaipeda
Dabar miestas yra Siauliai
End

In [37]:
for number in range(11, 34, 3):
    print(f"{number} ^ 2 =", number ** 2)

11 ^ 2 = 121
14 ^ 2 = 196
17 ^ 2 = 289
20 ^ 2 = 400
23 ^ 2 = 529
26 ^ 2 = 676
29 ^ 2 = 841
32 ^ 2 = 1024

In [40]:
# loop for index
for i in range(len(cities)):
    print(f'{cities[i]} miestas')

Vilnius miestas
Klaipeda miestas
Siauliai miestas

In [43]:
# enumerate is better than range
for i, city in enumerate(cities):
    print(f'{city} yra miestas. Jo indeksas yra {i}')

Vilnius yra miestas. Jo indeksas yra 0
Klaipeda yra miestas. Jo indeksas yra 1
Siauliai yra miestas. Jo indeksas yra 2

## uzduotys

In [80]:
# 1
for numbers in range(1,11):
    print(numbers)

suma = 0
for numbers in range(1, 51):
    suma += numbers
print(suma)

1
2
3
4
5
6
7
8
9
10
1275

In [67]:
# 2
x_num = input('Enter number')

for multi in range(1, 11):
    print(multi * int(x_num))

5
10
15
20
25
30
35
40
45
50

In [79]:
# 3
dienos = ['Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis', 'Sekmadienis']
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

new_list = []
for diena in dienos:
    # print(diena)
    for valanda in valandos:
        # print(valanda)
        diena, valanda
        new_list.append([diena, valanda])
print(new_list)

[['Pirmadienis', 10], ['Pirmadienis', 11], ['Pirmadienis', 12], ['Pirmadienis', 13], ['Pirmadienis', 14], ['Pirmadienis', 15], ['Pirmadienis', 16], ['Pirmadienis', 17], ['Pirmadienis', 18], ['Pirmadienis', 19], ['Antradienis', 10], ['Antradienis', 11], ['Antradienis', 12], ['Antradienis', 13], ['Antradienis', 14], ['Antradienis', 15], ['Antradienis', 16], ['Antradienis', 17], ['Antradienis', 18], ['Antradienis', 19], ['Treciadienis', 10], ['Treciadienis', 11], ['Treciadienis', 12], ['Treciadienis', 13], ['Treciadienis', 14], ['Treciadienis', 15], ['Treciadienis', 16], ['Treciadienis', 17], ['Treciadienis', 18], ['Treciadienis', 19], ['Ketvirtadienis', 10], ['Ketvirtadienis', 11], ['Ketvirtadienis', 12], ['Ketvirtadienis', 13], ['Ketvirtadienis', 14], ['Ketvirtadienis', 15], ['Ketvirtadienis', 16], ['Ketvirtadienis', 17], ['Ketvirtadienis', 18], ['Ketvirtadienis', 19], ['Penktadienis', 10], ['Penktadienis', 11], ['Penktadienis', 12], ['Penktadienis', 13], ['Penktadienis', 14], ['Penktadienis', 15], ['Penktadienis', 16], ['Penktadienis', 17], ['Penktadienis', 18], ['Penktadienis', 19], ['Sestadienis', 10], ['Sestadienis', 11], ['Sestadienis', 12], ['Sestadienis', 13], ['Sestadienis', 14], ['Sestadienis', 15], ['Sestadienis', 16], ['Sestadienis', 17], ['Sestadienis', 18], ['Sestadienis', 19], ['Sekmadienis', 10], ['Sekmadienis', 11], ['Sekmadienis', 12], ['Sekmadienis', 13], ['Sekmadienis', 14], ['Sekmadienis', 15], ['Sekmadienis', 16], ['Sekmadienis', 17], ['Sekmadienis', 18], ['Sekmadienis', 19]]

# if statements

In [87]:
age = 46
if age >= 65:
    print(f'Your age is {age}, therefore you are allowed to enter')
elif age >= 30:
    print(f'Your age is between 30 and 65')
else:
    print(f'You are not allowed to enter')

Your age is between 30 and 65

## uzduotys

In [88]:
for number in range(1, 21):
    if number % 3 == 0:
        print(number)

3
6
9
12
15
18

In [89]:
suma = 0
for number in range(1, 51):
    einama_suma = suma + number
    if einama_suma % 2 == 0:
        suma += number
print(suma)

650

In [121]:
in_number = int(input())
if (in_number ** 2) % 2 != 0:
    for number in range(1, 11):
        print(number * in_number)
else:
    print('Blogas skaicius')

Blogas skaicius

In [123]:
dienos = ['Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis', 'Sekmadienis']
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

new_list = []
tinkamos_dienos = ['Pirmadienis', 'Treciadienis']
tinkamos_valandos = list(range(12, 18))

for diena in dienos:
    if diena in tinkamos_dienos:
        for valanda in valandos:
            if valanda in tinkamos_valandos:
                new_list.append([diena, valanda])
print(new_list)

[['Pirmadienis', 12], ['Pirmadienis', 13], ['Pirmadienis', 14], ['Pirmadienis', 15], ['Pirmadienis', 16], ['Pirmadienis', 17], ['Treciadienis', 12], ['Treciadienis', 13], ['Treciadienis', 14], ['Treciadienis', 15], ['Treciadienis', 16], ['Treciadienis', 17]]