In [4]:
import pandas as pd

df_lt = pd.read_csv('LT.csv')
df_lt

,date,home_team,away_team,home_score,away_score,tourniment,city,country
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union
1,1979-07-22,Georgia,Lithuania,5,0,Friendly,Moscow,Soviet Union
2,1979-07-24,Azerbaijan,Lithuania,0,1,Friendly,Moscow,Soviet Union
3,1979-07-28,Lithuania,Ukraine,0,2,Friendly,Moscow,Soviet Union
4,1979-07-30,Russia,Lithuania,2,0,Friendly,Moscow,Soviet Union
...,...,...,...,...,...,...,...,...
362,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania
363,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine
364,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania

## 1-2. Sukurti naują stulpelį, kuriame būtų paskaičiuota įvarčiu suma / sirtumas

In [9]:
df_lt['goal_sum'] = df_lt['home_score'] + df_lt['away_score']
df_lt['goal_diff'] = df_lt['home_score'] - df_lt['away_score']
df_lt

,date,home_team,away_team,home_score,away_score,tourniment,city,country,goal_diff,goal_sum
0,1979-07-20,Kyrgyzstan,Lithuania,0,0,Friendly,Moscow,Soviet Union,0,0
1,1979-07-22,Georgia,Lithuania,5,0,Friendly,Moscow,Soviet Union,5,5
2,1979-07-24,Azerbaijan,Lithuania,0,1,Friendly,Moscow,Soviet Union,-1,1
3,1979-07-28,Lithuania,Ukraine,0,2,Friendly,Moscow,Soviet Union,-2,2
4,1979-07-30,Russia,Lithuania,2,0,Friendly,Moscow,Soviet Union,2,2
...,...,...,...,...,...,...,...,...,...,...
362,2019-09-10,Lithuania,Portugal,1,5,UEFA Euro qualification,Vilnius,Lithuania,-4,6
363,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine,2,2
364,2019-10-11,Ukraine,Lithuania,2,0,UEFA Euro qualification,Kharkiv,Ukraine,2,2
365,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania,-1,3
366,2019-10-14,Lithuania,Serbia,1,2,UEFA Euro qualification,Vilnius,Lithuania,-1,3

## 3. Kiek rungtynių baigėsi lygiosiomis?

In [118]:
len(df_lt[(df_lt['goal_diff'] == 0)])

73

## 4. Kokiai šaliai pralošėme didžiausiu  ivarčių skirtumu, žasidami namuose, kada tai įvyko, kokiame mieste vyko rungtynės?

In [11]:
df_lt['date'] = pd.to_datetime(df_lt['date'])

In [170]:
wanted_col = ['date', 'away_team', 'city', 'goal_diff']
df_lt_loss_h = df_lt[(df_lt['home_team'] == 'Lithuania') & (df_lt['home_score'] < (df_lt['away_score']))]
df_sorted = df_lt_loss_h.sort_values(by = "goal_diff")
df_sorted[wanted_col][:1]

          date away_team    city  goal_diff
108 2000-10-11   Hungary  Kaunas         -5

## 5. Kiek rungtynių Lietuva pralaimėjo žaisdama svetur?

In [113]:
print(len(df_lt[(df_lt['away_team'] == 'Lithuania') & (df_lt['country'] != 'Lithuania') & (df_lt['away_score'] < (df_lt['home_score']))]))

138

## 6. Kiek rungtynių Lietuva laimėjo žaisdama svetur?

In [114]:
print(len(df_lt[(df_lt['away_team'] == 'Lithuania') & (df_lt['country'] != 'Lithuania') & (df_lt['away_score'] > (df_lt['home_score']))]))

39

## 7. Kiek rungtynių Lietuva laimėjo žaisdama Lietuvoje?

In [115]:
print(len(df_lt[(df_lt['home_team'] == 'Lithuania') & (df_lt['country'] == 'Lithuania') & (df_lt['home_score'] > (df_lt['away_score']))]))

47

## 8. Kiek rungtynių Lietuva praleimėjo žaisdama Lietuvoje?

In [116]:
print(len(df_lt[(df_lt['home_team'] == 'Lithuania') & (df_lt['country'] == 'Lithuania') & (df_lt['home_score'] < (df_lt['away_score']))]))

60

## 9. Kiek rungtynių Lietuviai sužaidė lygiosiomis namuose?

In [117]:
print(len(df_lt[(df_lt['home_team'] == 'Lithuania') & (df_lt['country'] == 'Lithuania') & (df_lt['home_score'] == (df_lt['away_score']))]))

24

## 10. Kiek rungtynių Lietuviai sužaidė lygiosiomis išvykoje?

In [119]:
print(len(df_lt[(df_lt['away_team'] == 'Lithuania') & (df_lt['country'] != 'Lithuania') & (df_lt['home_score'] == (df_lt['away_score']))]))

42